<!doctype html>
<html>
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">           
    <meta http-equiv="X-UA-Compatible" content="IE=edge">               
    <meta name="viewport" content="width=device-width, initial-scale=1">             
  
    <title>Fresh Grill Quickview Portal</title>
    <link href="/favicon.ico" rel="icon" type="image/ico">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/css.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/cutegrids.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/print.min.css" rel="stylesheet">

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="/js/jquery.min.js"></script>
    <script src="/js/print.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <!-- Minified version of `es6-promise-auto` below. -->
    <script src="/js/es6-promise.min.js"></script>
    <script src="/js/es6-promise.auto.min.js"></script> 

    <style>
        th, td {
            padding: 5px;
            text-align: left;
        }

        .odd {
            background-color:#ddd
        }
    </style>
</head>

<body>
    <div class="container" id="app">
        <!-- header class="header" -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="brand-logo text-center navbar-nav navbar-left">
                <a href="/">
            	     <img alt="logo" src="/img/logo.png">
                </a>
            </div>
          </div>
        </nav>
        <!-- /header -->

        <div class="row">
          	<div class="cute-12-tablet">
              	<h1 style="width:200px; margin:10px;">Invoice:</h1>

              	<form action="" method="get">
                    <!-- input type="text"
                       class="form-control"
                       v-model="order"
                       style="width:200px; margin:20px 10px 10px 10px;"
                       placeholder="Order number" -->

                    <select class="form-control"
                            style="width:200px; margin:20px 10px 10px 10px;"
                            v-model="order">
                        <option value="">Order number</option>
                        <option v-for="item in orders" v-bind:value="key">{{ item.account }} - {{ item.order_no }}</option>
                    </select>

                    <select class="form-control" style="width:200px; margin:10px 10px 20px 10px;">
                        <option>Invoice</option>
                        <option>Invoice without prices</option>
                        <option>Bill of lading</option>
                        <option>Packing slip</option>
                    </select>

             		    <input type="button"
                       class="form-control btn-success"
                       style="width:300px; margin:10px;"
                       onclick="document.location.href='/cgi/invoice_pdf.pl?order=SO345372&invoice=2'"
                       value="Download Invoice">

                    <input type="button"
                       class="form-control btn-success"
                       style="width:300px; margin:10px;"
                       onclick="printJS('/cgi/invoice_pdf.pl?order=SO345372&invoice=2')"
                       value="Print Invoice">
              	</form>
            </div>
        </div>
        <footer class="text-center"
                style="position: absolute; 
                       bottom: 0;
                       width: 100%;">
            <div class="row">
              <p class="copyright">© Copyright FreshGrillFoods.com 2018</p>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        function verify_number(t) {
            if (t.value.match(/^(\d){1,10}$/g)) {
                t.setCustomValidity('')
                t.style.borderColor = ''
                t.style.boxShadow = ''
            } else {
                t.setCustomValidity('Wrong number')
                t.style.borderColor = '#FF0000'
                t.style.boxShadow = 'inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)'
            }
        }
    </script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: function() {
                return {
                    orders: [{account: 'C0000011', order_no:'SO351424'},
                             {account: 'C0000087', order_no:'SI101670'},
                             {account: 'C0000087', order_no:'SI101675'},
                             {account: 'C0000087', order_no:'SO347903'},
                             {account: 'C0000087', order_no:'SO349130'}],
                    order: ''
                }
            },
            mounted: function() {
                // this.orders = 'SO345372'
            }
        })
    </script>
</body>
</html>
